@*@model*@  
@using Microsoft.AspNetCore.Http
@{

    IEnumerable<PurityERP.Areas.Management.Models.Product> products = ViewData["products"] as IEnumerable<PurityERP.Areas.Management.Models.Product>;

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Exitst Product</h3> <br />
            <button id="showbtn" class="btn btn-primary">Show Product List</button>
            <button id="hidebtn" class="btn btn-success">Hide Product List</button>
        </div>
        <a asp-action="Productcreate" class=" btn btn-primary float-right">Create New</a>
        @*<a asp-action="ProductQrCode" class=" btn btn-primary float-right">QRCode</a>*@
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Product Tittle</th>
                        <th>Sales price</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in products)
                    {
                        <tr>

                            <td>@items.ProductTittle</td>
                            <td>@items.SalesPrice</td>
                            <td class="float-right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-action="EditProduct" asp-route-id="@items.Id" type="button" class="btn btn-warning">Edit</a>
                                    <a asp-action="ProductDetails" asp-route-id="@items.Id" type="button" class="btn btn-info">Details</a>
                                    <a asp-action="ProductManage" asp-route-id="@items.Id" type="button" class="btn btn-dark">Manage</a>
                                    <a asp-action="ProductQrCode" asp-route-id="@items.Id" type="button" class="btn btn-info">Genarete QR</a>

                                </div>                                                                                                                                                                                                                                                                                                                       

                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>

                        <th>Product Tittle</th>
                        <th>Sales price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
        @if (Context.Session.GetString("image") != null)
        {

            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <a href="@Context.Session.GetString("image")" download="img.jpg"><img src="@Context.Session.GetString("image")" height="300" width="300" /></a>
                        
                    </div>
                </div>
            </div>
        }
    </div>

    @section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#showbtn').click(function () {
                $('#example1').show();
            });
            $('#hidebtn').click(function () {
                $('#example1').hide();
            });
        });
    </script>
    }
</body>
</html>

