@model IEnumerable<ProductVM>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Exitst Product</h3> <br />
        </div>
        <a asp-action="Productcreate" class=" btn btn-primary float-right">Create New</a>
        @*<a asp-action="ProductQrCode" class=" btn btn-primary float-right">QRCode</a>*@
        <!-- /.card-header -->
        <div class="card-body">
            @*<table id="example1" style="font-size:small" class="table table-bordered table-striped">*@
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Tittle</th>
                        <th>Quanity</th>
                        <th>Sales price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model)
                    {
                        <tr>
                            <td>@items.ProductCode</td>
                            <td>@items.ProductTittle</td>
                            <td>@items.RemainingQty</td>
                            <td>@items.SalesPrice</td>
                            <td class="float-right">
                                <div class="btn-group">
                                    <a asp-action="EditProduct" asp-route-id="@items.Id" type="button" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="ProductDetails" asp-route-id="@items.Id" type="button" class="btn btn-info"><i class="fa-solid fa-info"></i></a>
                                    <a asp-action="ProductManage" asp-route-id="@items.Id" type="button" class="btn btn-dark"><i class="fa-solid fa-list-check"></i>Manage</a>
                                    @if (items.QrExists == "No")
                                    {
                                        <a asp-action="CreateQr" asp-route-ProdID="@items.Id" type="button" class="btn btn-info"><i class="fa-solid fa-qrcode"></i></a>
                                    }
                                    else
                                    {
                                        @*<a asp-action="DeleteQr" asp-route-ProdID="@items.Id" type="button" class="btn btn-info"><i class="fa-solid fa-trash-can"></i></a>
                                        <input type="hidden" class="mainid" value="@items.Id" />
                                        <button class="btn btn-warning crprint"><i class="fa-solid fa-print"></i></button>*@
                                    }
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Tittle</th>
                        <th>Quanity</th>
                        <th>Sales price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

    @section Scripts{
        <script src="~/assets/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables  & Plugins -->
        <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/assets/plugins/jszip/jszip.min.js"></script>
        <script src="~/assets/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/assets/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="~/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/assets/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <!-- Page specific script -->
        <script>
            $(function () {
                $("#example1").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
        </script>

        <script>
            $('.crprint').click(function () {

                var val = $(this).closest("tr").find("input[class='mainid']").val();
                var host = window.origin;//publish
                //var host = "https://localhost:44326";
                window.open(host + '/Reports/Rep/QRPurity?ItemCode=' + val + '&St=Product', '_blank');//publish
                //window.open(host + '/Rep/QRPurity?ItemCode=' + val + '&St=Product', '_blank');
            });

        </script>
    }
</body>
</html>

